.area{
    width: 100px;
    height: 80px;
    box-sizing: border-box;
    background-color: cadetblue;
  }
  .drag{
    width: 200px;
    -webkit-app-region: none;
    /* -webkit-app-region: drag; */

  }
  .canclick{
    -webkit-app-region: none;
    background-color: blanchedalmond;
  }

.head{
  background-color: burlywood;
  width: 100%;
  height: 50px;
}
html,body,.body{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: none;
  padding: none;
}
.body{
  background-color: antiquewhite;
  overflow: hidden;
}